.cache/*
.dbus/*
.config/*
.local/*
.subversion/*
.bash_history
.bash_logout
.bashrc
.gitconfig
.ICEauthority
.profile
.rediscli_history
.sudo_as_admin_successful
.viminfo
.Xauthority
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.xsession
.xsession-errors
rediscli.sh
redisserver.sh
startdesktop.sh
Engine
pic/*
.vscode-server/*
redis-5.0.1/*
.vscode/*
protobuf/*
*.o
.rpmdb/*
log/*
proto/*.cc
proto/*.h
assimp-5.0.1/*